      <!-- EXTERNAL JS -->
      <!-- JQUERY -->
      <script src="/jquery/dist/jquery.min.js"></script>
      <!-- BOOTSTRAP -->
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- UIKIT -->
      <script src="/uikit/dist/js/uikit.min.js"></script>
      <script src="/uikit/dist/js/uikit-icons.min.js"></script>
      
      <!-- CUSTOM JS -->
      <script src="/Scripts/app.js"></script>

  </body>
</html>

