<!DOCTYPE html>
<html lang="en">
  <head>
        
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- EXTERNAL CSS -->
      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
      <!-- UIKIT -->
      <link rel="stylesheet" href="/uikit/dist/css/uikit.min.css">

      <!-- GOOGLE FONTS RALEWAY LINK -->
	    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

      <!-- CUSTOM CSS -->
      <link rel="stylesheet" href="/Content/app.css" />
        
      <!-- FAVICON LINK -->
	    <link rel="icon" href="/Assets/images/favicon.ico" type="image/png">

<title><%= title %></title>
  </head>
  <body>