<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %>      

    <main uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
      <div id="AboutMe" class="uk-container my-5">
        <div class="uk-card uk-card-default uk-card-hover">
          <div>
            <div class="uk-card-body">
              <img src="/Assets/images/Logo1.png" alt="" class="mx-auto d-block" style="height: 80px; width: 80px;">
              <h2 class="text-center">Hi! I'm Erwin Joshua Manuel</h2>

              <p class="text-content">I'm first year first semester student at Centennial College, majoring in Software Engineering. Previously I studied in Asian College of Technology for my Associate in Computer Technlogy Degree. It's been a very long journey but I still find it fun. As you can see, all of this is still a work in progress. If you have any suggestions or advice to make it prettier or to improve the code or whatever aspect, please feel free to contact me. I'll be glad to pay for the your next cup of coffee.</p>

              <h2 class="text-center">Mission Statement</h2>
              <p class="text-content text-center mb-2">To work hard everyday in building a world that is</p>
              <h4 class="text-content text-center mt-0"> Good&nbsp;&nbsp;&nbsp;Fun&nbsp;&nbsp;&nbsp;Beautiful </h3>

              <a href="/about">
                <button class="uk-button uk-button-primary mx-auto d-block mt-5">About</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>      