<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

<div class="uk-section" style="background-color: black !important;" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
    <div class="uk-container">

        <!-- PANEL FOR PROJECT 1 -->
        <div class="uk-panel uk-light uk-margin-large">
            <h2 class="d-inline">Personal Site Version 1</h2>
             <img class="uk-align-right uk-margin-remove-adjacent" src="/Assets/images/Project1.png" width="485px" height="360px" alt="First Project">
            <p class="mt-5">Created on: January 14, 2020</p>
            <p class="text-justify">
                This was an individual project at Centennial College where we were all tasked to create a personal portfolio site to showcase the projects that we made during the semester. To build this, I used Bootstrap v4 mainly for the styling, but also included some elements from uikit. In some areas, jquery was used as well.
            </p>

            <a href="http://studentweb.cencol.ca/emanuel3/" target="_blank">
                <button class="uk-button uk-button-text">Check it out!</button>
            </a>
        </div>

        <!-- PANEL FOR PROJECT 2 -->
        <div class="uk-panel uk-light uk-margin-large">
            <h2 class="d-inline">Austin Peaks Fake Realtor Site</h2>
             <img class="uk-align-left uk-margin-remove-adjacent" src="/Assets/images/Project2.png" width="485px" height="360px" alt="First Project">
            <p class="mt-5">Created on: April 14, 2020</p>
            <p class="text-justify">
                Here, we were tasked with the making of a website a fake business. Although, we were instructed to use multiple pages to construct the site, I felt that a single-page one would more modern. To style it, I used uikit, however some Bootstrap was used, namely the utility classes to enhance the layout.
            </p>

            <a href="http://studentweb.cencol.ca/emanuel3/term-project.html" target="_blank">
                <button class="uk-button uk-button-text">Check it out!</button>
            </a>
        </div>

        <!-- PANEL FOR PROJECT 3 -->
        <div class="uk-panel uk-light uk-margin-large">
            <h2 class="d-inline">Google Translate</h2>
             <img class="uk-align-right uk-margin-remove-adjacent" src="/Assets/images/Project3.png" width="485px" height="360px" alt="First Project">
            <p class="mt-5">Created on: NA</p>
            <p class="text-justify">
                As a language enthusiast, working on something like Google Translate would be really nice. While I haven't really done anything to contribute towards this project, I think learning how to make machines understand humans would be a fun challenge to undertake.
            </p>

            <a href="https://www.google.ca/" target="_blank">
                <button class="uk-button uk-button-text">Check it out!</button>
            </a>
        </div>

    </div>
</div>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>   